<section style="background-color: #ededf1; color: #403f48" id="asfvfd">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                 <br>
                 <img src="./img/ASFRA_logo.png" alt="asfvfd" style="width:150px;height:150px;border:0px; margin: 5px"><h2><b>ASPENDELL/SOUTH FORK VOLUNTEER FIRE DEPARTMENT</b></h2>
                 <h3>111 Columbine Drive, Aspendell, CA 93514</h3>
                 <hr>
                 </div>
                 <div class="text-left">
                 <h3><b>About the ASFVFD:</b></h3>
<p>The Aspendell South Fork Volunteer Fire Department (ASFVFD) is a 501c (3) non-profit charitable public benefit organization, organized as a California Corporation #C3603584. The ASFVFD organization is a local self supporting non governmental (NGO) successor to the Aspendell South Fork Residents Association (ASFRA) organized as an interim successor to the Aspendell Volunteer Fire Department, a former operation of the Aspendell Mutual Water Company (AMWC). The ASFVFD service statement is posted <a href="./info_files/service-statement.pdf">here</a>.</p><br>

<p>For more information (volunteers, budget, recent news, etc.) please visit the <a href="http://www.asfvfd.org/">ASFVFD website</a>.</p>
<br>

            </div>
        </div>
    </div>
</section>
