<section style="background-color: #eeebe7; color: #3a3758" id="asfvfd">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                 <br>
                 <img src="./img/ASFRA_logo.png" alt="asfvfd" style="width:150px;height:150px;border:0px; margin: 5px"><h3><b>ASPENDELL SOUTH FORK VOLUNTEER FIRE DEPARTMENT</b></h3>
                 <h4>111 Columbine Drive, Aspendell, CA 93514</h4>
                 <hr>
                 <h4 style="color: #d33600"><b>FOR ASFVFD EMERGENCIES</b></h4>
                 <h2 style="color: #d33600"><b>DIAL 9-1-1</b></h2>
                 <hr>
                 <p style="color: #d33600"><b><i>Defibrillator (AED) and oxygen available at the Aspendell fire house.</i></b></h4>
                 </div>
                 <div class="col-lg-8 col-lg-offset-2 text-left">
                 <h4><b>About the <a href="http://asfvfd.org/">ASFVFD</a>:</b></h4>

<p><b>Funding and Operations</b>: ASFVFD provides fire protection for the Aspendell and South Fork communities and funding is entirely from voluntary community contributions. Services are rendered without regard to the origin of the contributions received. Membership is voluntary and supporting membership fees are not a consideration for services provided. </p><br>

<p>The Aspendell South Fork Volunteer Fire Department (ASFVFD) is a 501c (3) non-profit charitable public benefit organization, organized as a California Corporation #C3603584. The ASFVFD organization is a local self supporting non governmental (NGO) successor to the Aspendell South Fork Residents Association (ASFRA) organized as an interim successor to the Aspendell Volunteer Fire Department, a former operation of the Aspendell Mutual Water Company (AMWC). The ASFVFD service statement is posted <a href="./info_files/service-statement.pdf">here</a>.</p><br>

<p>For more information (volunteers, budget, recent news, etc.) please visit the <a href="http://www.asfvfd.org/">ASFVFD website</a>.</p>
<br>

            </div>
        </div>
    </div>
</section>
