<section style="background-color: #ecedf7; color: #3a3758" id="conditions">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/road.png" alt="conditions" style="width:150px;height:150px;border:0px; margin: 5px">
              <h3><b>ROAD & WEATHER CONDITIONS</b></h3>
              <hr>
              </div>

              <div class="col-lg-8 col-lg-offset-2 text-left">
              <h4><b>Links for current road conditions:</b></h4>
              <ul>
                <li><p><a href="http://www.dot.ca.gov/hq/roadinfo/display.php?page=sr168">Highway 168 current conditions</a> (Cal DOT)</p></li>
                <li><p><a href="http://www.dot.ca.gov/hq/roadinfo/display.php?page=us395">Highway 395 current conditions</a> (Cal DOT)</p></li>
                <li><p><a href="https://www.nps.gov/yose/planyourvisit/tioga.htm">Tioga Pass current conditions</a> (National Parks Service)</p></li>
                </ul>
                <br>

                <h4><b>Aspendell snow removal information:</b></h4>
                <p>The Inyo County Road Department has <a href="https://www.inyocounty.us/snow_removal.htm">posted guidelines</a> for snow removal in Aspendell. The guidelines state that snow removal will "occur during daylight hours only and after a minimum of three inches of snow has accumulated on the county roadway. Three inches on a deck or in a yard does not mean that there is three inches on the roadway. Snow may not build up as rapidly on the black pavement...If the Road Department determines that more than two feet of snow has fallen during any one shift in mountainous areas, snow removal operations will be suspended until after the storm has passed. In addition, when conditions become so severe that Road Crews cannot keep up with falling snow and the threat of avalanches becomes likely, Road Crews may leave the area until such time as it is safe to resume snow removal operations."</p>

                <p><b>Depending on snowfall amount and location, access, safety, and available resources, Aspendell roads may not be prioritized for snow removal in some cases. Keep vehicles, equipment and landscaping/construction materials off of the streets during snow removal months (generally November through April or May).</b></p>
                <br>



              <!--<p><iframe src="http://www.dot.ca.gov/hq/roadinfo/display.php?page=sr168" width = "800" height = "200" style="background-color: Snow; border: 2px;"></iframe></p>-->


              <h4><b>Weather information:</b></h4>
              <ul>
                  <li><p><a href="https://forecast.weather.gov/MapClick.php?lat=37.23759000000007&lon=-118.59717999999998#.XPVjxKZ7nBI">Aspendell current weather (from weather.gov):</a></p>
                  <div class="google-maps">
                  <iframe src="https://forecast.weather.gov/MapClick.php?lat=37.2381&lon=-118.598&unit=0&lg=english&FcstType=text&TextType=2" width = "300" height = "300" style="border: 5px solid #b5b4c7; background-color:transparent;"></iframe>
                  </div>
                  </li>
                  <li><p><a href="https://www.ci.mammoth-lakes.ca.us/97/Airport-and-Transportation">Mammoth Airport webcams</a></p>
                  </li>
                  <li><p>Mammoth area weather resources from <a href="https://mammothweather.com/howards-favorite-resources/howards-favorite-links/">Howard Sheckter</a></p></li>
                </ul>

<br>

 <h4><b>Avalanche information:</b></h4>
              <ul>
                  <li><p>For the 2018/2019 Aspendell snowfall & avalanche summary from Inyo County Avalanche Forecaster Sue Burak, <a href="./info_files/burak_snow_summary_2019.pdf">click here</a></p></li>
                  <li><p>Avalanche information from <a href="https://avalanche.org/">avalanche.org</a></p></li>
                  <li><p><a href="https://www.esavalanche.org/">Eastern Sierra Avalanche Center</a></p></li>
                </ul>


              <br>
            </div>
        </div>
    </div>
</section>
