<section style="background-color: #6e6e7e; color: white" id="conditions">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/road.png" alt="conditions" style="width:150px;height:150px;border:0px; margin: 5px"><h2><b>ROAD & WEATHER CONDITIONS</b></h2>
              <hr>
              </div>
              <div class="col-lg-8 col-lg-offset-2 text-left">
              <h3>Highway 168 current road conditions <a href="http://www.dot.ca.gov/hq/roadinfo/display.php?page=sr168">(CA DOT)</a>:</h3>
              <p><iframe src="http://www.dot.ca.gov/hq/roadinfo/display.php?page=sr168" width = "800" height = "200" style="background-color: Snow; border: 2px;"></iframe></p><br>
              <h3>Aspendell current weather & forecast <a href="https://forecast.weather.gov/MapClick.php?CityName=Aspendell&state=CA&site=VEF&textField1=37.2381&textField2=-118.598&e=0#.XPQu16Z7nfZ">(National Weather Service)</a>:</h3>
              <p><iframe src="https://forecast.weather.gov/MapClick.php?lat=37.2381&lon=-118.598&unit=0&lg=english&FcstType=text&TextType=2" width = "800" height = "300" style="background-color: Snow; border: 2px;"></iframe></p><br>
              <h3>Avalanche information: <a href="https://avalanche.org/">avalanche.org</a></h3>
              <br>
            </div>
        </div>
    </div>
</section>
