<section style="background-color: #ebeaf3; color: #3a3758" id="conditions">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/road.png" alt="conditions" style="width:150px;height:150px;border:0px; margin: 5px"><h3><b>ROAD & WEATHER CONDITIONS</b></h3>
              <hr>
              </div>
              <div class="col-lg-8 col-lg-offset-2 text-left">

              <h4><b>Links for current road conditions</b></h4>
              <ul>
                <li><p><a href="http://www.dot.ca.gov/hq/roadinfo/display.php?page=sr168">Highway 168 current conditions</a> (Cal DOT)</p></li>
                <li><p><a href="http://www.dot.ca.gov/hq/roadinfo/display.php?page=us395">Highway 395 current conditions</a> (Cal DOT)</p></li>
                <li><p><a href="https://www.nps.gov/yose/planyourvisit/tioga.htm">Tioga Pass current conditions</a> (National Parks Service)</p></li>
                </ul>
                <br>



              <!--<p><iframe src="http://www.dot.ca.gov/hq/roadinfo/display.php?page=sr168" width = "800" height = "200" style="background-color: Snow; border: 2px;"></iframe></p>-->



              <h4><b>Weather information</b></h4>
              <ul>
                  <li><p><a href="https://forecast.weather.gov/MapClick.php?lat=37.23759000000007&lon=-118.59717999999998#.XPVjxKZ7nBI">Aspendell current weather (from weather.gov)</a><br><iframe src="https://forecast.weather.gov/MapClick.php?lat=37.2381&lon=-118.598&unit=0&lg=english&FcstType=text&TextType=2" width = "800" height = "300" style="border: 5px solid #b5b4c7; background-color:transparent;"></iframe></p>
                  </li>
                  <li><p><a href="https://www.ci.mammoth-lakes.ca.us/97/Airport-and-Transportation">Mammoth Airport webcams</a></p>
                  </li>
                  <li><p>Mammoth area weather resources from <a href="https://mammothweather.com/howards-favorite-resources/howards-favorite-links/">Howard Sheckter</a></p></li>
                  <li><p>Avalanche information from <a href="https://avalanche.org/">avalanche.org</a></p>
                  </li>
                </ul>


              <br>
            </div>
        </div>
    </div>
</section>
