<section style="background-color: #ecedf7; color: #3a3758" id="contact">
    <div class="container">
        <div class="row">

          <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/aspendeer.png" alt="conditions" style="width:150px;height:150px;border:0px; margin: 5px"><h3><b>CONTACTS</b></h3>
                            <hr>

              </div>

              <div class="col-lg-8 col-lg-offset-2 text-left">

              <h4><b>Non-emergency contacts</b></h4>
              <p style="text-indent:2em"><b>Bishop Police Department:</b> (760) 873-5866</p>
              <p style="text-indent:2em"><b>California Highway Patrol:</b> (760) 872-5900</p>
              <p style="text-indent:2em"><b>Inyo Sheriff's Department (Bishop substation):</b> (760) 873-7887</p>
              <p style="text-indent:2em"><b>Northern Inyo Hospital - Bishop:</b> (760) 873-5811</p>
              <p style="text-indent:2em"><b>Inyo County Offices:</b> (760) 873-8481</p>
              <p style="text-indent:2em"><b>Bishop Post Office:</b> (760) 873-3526</p>

              <br>

              <h4><b>Agency Contacts</b></h4>
              <p style="text-indent:2em"><b>Philip DeSenze - White Mountain District Ranger (USFS)</b></p>
              <p style="text-indent:4em">Phone: (760) 873-2515</p>
              <p style="text-indent:4em">Email: philip.desenze@usda.gov</p>

              <p style="text-indent:2em"><b>Kelley Williams - Director, Inyo County Emergency Management Services</b></p>
              <p style="text-indent:4em">Email: kwilliams@inyocounty.us</p>
              <p style="text-indent:4em">Address: Inyo County Administration, 136-A South Jackson St., P.O. Drawer N, Independence, CA 93526</p>

              <p style="text-indent:2em"><b>Chris Cash - Inyo County Assistant Public Works Director & Road Superintendent</b></p>
              <p style="text-indent:4em">Phone: (760) 878-0201</p>
              <p style="text-indent:4em">Email: ccash@inyocounty.us</p>
              <p style="text-indent:4em">Address: County of Inyo, P.O. Drawer Q, Independence, CA. 93526</p>

              <p style="text-indent:2em"><b>Heather Stone - Interagency Vegetation Management Team Leader (BLM/Inyo National Forest Fuel Reduction Program)</b></p>
              <p style="text-indent:4em">Email: </p>

            <br>




              <h4><b>Aspendell Property Owners Association</b></h4>
              <p style="text-indent:2em"><b>Address:</b> 117 Columbine Drive, Bishop, CA 93514</p>
              <p style="text-indent:2em"><b>APOA email:</b> aspendellpoa@gmail.com</p>
              <p style="text-indent:2em"><b>President:</b> Jan Almquist, (760) 920-0448, email: jag.janalmquist@gmail.com</p>
              <p style="text-indent:2em"><b>Vice President:</b> Marilyn Bruner, (760) 873-8748
              <p style="text-indent:2em"><b>Treasurer:</b> Shelley Thompson
              <p style="text-indent:2em"><b>Secretary:</b> Julie Montoya, email: montoya4@cox.net</p>
              <p style="text-indent:2em"><b>Website:</b> Allison Horst, email: ahorst@ucsb.edu</p>

              <br>

              <h4><b>Aspendell Mutual Water (Tracts 1 & 3)</b></h4>
              <p style="text-indent:2em"><b>Address:</b> 117A Columbine Drive, Bishop, CA 93514</p>
              <p style="text-indent:2em"><b>Emergency contact:</b> Ken Kuencer (760) 872-3271</p>
              <br>

              <h4><b>Alpine Water Company (Tract 2)</b></h4>
              <p style="text-indent:2em"><b>Address:</b> 138 Alpine Drive, Bishop, CA 93514</p>

              <br>


              <h4><b>Injured Wildlife Help</b></h4>
              <p style="text-indent:2em"><b>Website:</b> <a href="https://www.eswildcare.org/">Wildcare Eastern Sierra</a></p>
              <p style="text-indent:2em"><b>Phone:</b> (760) 872-1487</p>
              <br>


              <h4><b>Other</b></h4>
              <p style="text-indent:2em"><b>Frontier Telephone Repair Service:</b> (800) 921-8101</p>
              <p style="text-indent:2em"><b><a href="https://www.schat.net/">Schat Communication:</a></b> (760) 873-4377</p>
              <p style="text-indent:2em"><b><a href="https://www.sce.com/">Southern California Edison</a> Emergency Service & Information:</b> (800) 655-4555</p>
              <p style="text-indent:2em"><b>US Forest Service White Mountain District (Bishop Office):</b> (760) 873-2500</p>



              <br>

            </div>
        </div>
    </div>
</section>


