<section style="background-color: #ebeaf3; color: #3a3758" id="contact">
    <div class="container">
        <div class="row">

          <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/aspendeer.png" alt="conditions" style="width:150px;height:150px;border:0px; margin: 5px"><h3><b>CONTACTS</b></h3>
                            <hr>
              <h4 style="color: #d33600"><b>FOR ALL EMERGENCIES, CALL 9-1-1</b></h4>
              <hr>

              </div>

              <div class="col-lg-8 col-lg-offset-2 text-left">

              <h4><b>Non-emergency contacts</b></h4>
              <p style="text-indent:2em"><b>Bishop Police Department:</b> (760) 873-5866</p>
              <p style="text-indent:2em"><b>California Highway Patrol:</b> (760) 872-5900</p>
              <p style="text-indent:2em"><b>Inyo Sheriff's Department (Bishop substation):</b> (760) 873-7887</p>
              <p style="text-indent:2em"><b>Northern Inyo Hospital - Bishop:</b> (760) 873-5811</p>
              <p style="text-indent:2em"><b>Inyo County Offices:</b> (760) 873-8481</p>
              <p style="text-indent:2em"><b>Bishop Post Office:</b> (760) 873-3526</p>

              <br>

              <h4><b>Aspendell Property Owners Association</b></h4>
              <p style="text-indent:2em"><b>Address:</b> 117 Columbine Drive, Bishop, CA 93514</p>
              <p style="text-indent:2em"><b>Email:</b> aspendellpoa@gmail.com</p>

              <br>

              <h4><b>Aspendell Mutual Water (Tracts 1 & 3)</b></h4>
              <p style="text-indent:2em"><b>Address:</b> 117A Columbine Drive, Bishop, CA 93514</p>
              <p style="text-indent:2em"><b>Emergency contact:</b> Ken Kuencer (760) 872-3271</p>
              <br>

              <h4><b>Alpine Water Company (Tract 2)</b></h4>
              <p style="text-indent:2em"><b>Address:</b> 138 Alpine Drive, Bishop, CA 93514</p>

              <br>

              <h4><b>APOA Board of Directors</b></h4>
              <p style="text-indent:2em"><b>President:</b> Jan Almquist (760) 920-0448</p>
              <p style="text-indent:2em"><b>Vice President:</b> Marilyn Bruner
              <p style="text-indent:2em"><b>Treasurer:</b> Shelley Thompson
              <p style="text-indent:2em"><b>Webmaster:</b> Allison Horst (ahorst@ucsb.edu)</p>

              <br>

              <h4><b>Other</b></h4>
              <p style="text-indent:2em"><b>Frontier Telephone Repair Service:</b> 1-(800)-921-8101</p>
              <p style="text-indent:2em"><b>Schat Communication:</b> (760) 873-4377</p>
              <p style="text-indent:2em"><b>Southern California Edison Emergency Service & Information:</b> 1-(800)-655-4555</p>
              <p style="text-indent:2em"><b>US Forest Service White Mountain District (Bishop Office):</b> (760) 873-2500</p>


              <br>

            </div>
        </div>
    </div>
</section>


