<section style="background-color: #ecedf7; color: #3a3758" id="contact">
    <div class="container">
        <div class="row">

          <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/aspendeer.png" alt="conditions" style="width:150px;height:150px;border:0px; margin: 5px"><h3><b>CONTACTS</b></h3>
                            <hr>

              </div>

              <div class="col-lg-8 col-lg-offset-2 text-left">

              <h4><b><u>NON-EMERGENCY CONTACTS</u></b></h4>
              <p><b>Bishop Police Department:</b> (760) 873-5866</p>
              <p><b>California Highway Patrol:</b> (760) 872-5900</p>
              <p><b>Inyo Sheriff's Department (Bishop substation):</b> (760) 873-7887</p>
              <p><b>Northern Inyo Hospital - Bishop:</b> (760) 873-5811</p>
              <p><b>Inyo County Offices:</b> (760) 873-8481</p>
              <p><b>Bishop Post Office:</b> (760) 873-3526</p>

              <br>

              <h4><b><u>AGENCY CONTACTS</u></b></h4>
              <p><b>Philip DeSenze - White Mountain District Ranger (USFS)</b></p>
              <p>Phone: (760) 873-2515</p>
              <p>Email: philip.desenze@usda.gov</p>
              <br>
              <p><b>Kelley Williams - Director, Inyo County Emergency Management Services</b></p>
              <p>Email: kwilliams@inyocounty.us</p>
              <p>Address: Inyo County Administration, 136-A South Jackson St., P.O. Drawer N, Independence, CA 93526</p>
              <br>
              <p><b>Chris Cash - Inyo County Assistant Public Works Director & Road Superintendent</b></p>
              <p>Phone: (760) 878-0201</p>
              <p>Email: ccash@inyocounty.us</p>
              <p>Address: County of Inyo, P.O. Drawer Q, Independence, CA. 93526</p>
              <br>
              <p><b>Heather Stone - Interagency Vegetation Management Team Leader (BLM/Inyo National Forest Fuel Reduction Program)</b></p>

            <br>

<h4><b><u>ASPENDELL SOUTH FORK VOLUNTEER FIRE DEPARTMENT</u></b></h4>
              <p><b>Address:</b> 111 Columbine, Bishop 93514</p>
              <p><b>Website:</b> <a href="http://asfvfd.org/">asfvfd.org</a></p>
              <br>


              <h4><b><u>ASPENDELL PROPERTY OWNERS ASSOCIATION</u></b></h4>
              <p><b>Address:</b> 117 Columbine Drive, Bishop, CA 93514</p>
              <p><b>APOA email:</b> aspendellpoa@gmail.com</p>
              <p><b>President:</b> Jan Almquist, (760) 920-0448, email: jag.janalmquist@gmail.com</p>
              <p><b>Vice President:</b> Marilyn Bruner, (760) 873-8748
              <p><b>Treasurer:</b> Shelley Thompson
              <p><b>Secretary:</b> Julie Montoya, email: montoya4@cox.net</p>
              <p><b>Website:</b> Allison Horst, email: ahorst@ucsb.edu</p>

              <br>

              <h4><b><u>ASPENDELL MUTUAL WATER (Tracts 1 & 3)</u></b></h4>
              <p><b>Address:</b> 117A Columbine Drive, Bishop, CA 93514</p>
              <p><b>Emergency contact:</b> Ken Kuencer (760) 872-3271</p>
              <br>

              <h4><b><u>ALPINE WATER COMPANY (Tract 2)</u></b></h4>
              <p><b>Address:</b> Route 1 - 100 Nutcracker Road, Bishop, CA 93514</p>
              <p><b>President:</b> Jerry Billings - 103 Sumac Road (part time)</p>
              <i><p>Phone: (760) 873-8376</p></i>
              <i><p>Cell: (775) 781-2948</p></i>
              <p><b>Emergency contacts:</b></p>
              <p><i>Bill Stever - 108 Sumac Road, Phone: (760) 873-4372</i> or</p>
              <p><i>Steve Young - 111 Sumac Road, Phone: (760) 872-0991</i></p>

              <br>


              <h4><b><u>INJURED WILDLIFE HELP - WILDCARE EASTERN SIERRA</u></b></h4>
              <p><b>Website:</b> <a href="https://www.eswildcare.org/">Wildcare Eastern Sierra</a></p>
              <p><b>Phone:</b> (760) 872-1487</p>
              <br>
<div id="businesses">
              <h4><b><u>LOCAL BUSINESSES</u></b></h4>
              <h4><b>In / Near Aspendell:</b></h4>
                  <p><b><a href="https://www.cardinalvillageresort.com/">Cardinal Village Resort: </a></b> cafe & general store, cabins for rent, gifts, souvenirs, fishing licenses</p>
                  <p><b><a href="https://www.lakesabrinaboatlanding.com/">Lake Sabrina Boat Landing and Cafe: </a></b>cafe, snacks, merchandise, kayak rentals</p>
                  <p><b><a href="http://www.bishoppackoutfitters.net/">Bishop Pack Outfitters: </a></b>horseback trail rides, photography trips, camping, hiking, fly fishing trips</p>
              <h4><b>South Fork Bishop Creek Canyon:</b></h4>
                 <p><b><a href="https://www.parchersresort.net/">Parcher's Resort:</a></b> cabin rentals, general store, cafe</p>
                <p><b><a href="https://www.bishopcreekresort.com/">Bishop Creek Lodge:</a></b> cabin rentals, restaurant, bar, snacks</p>
                <p><b><a href="https://www.rainbowpackoutfitters.com/">Rainbow Pack Outfitters:</a></b> trail rides, fishing trips, pack trips</p>
                </div>

<br>

              <h4><b><u>OTHER</u></b></h4>
              <p><b>Frontier Telephone Repair Service:</b> (800) 921-8101</p>
              <p><b><a href="https://www.schat.net/">Schat Communication:</a></b> (760) 873-4377</p>
              <p><b><a href="https://www.sce.com/">Southern California Edison</a> Emergency Service & Information:</b> (800) 655-4555</p>
              <p><b>US Forest Service White Mountain District (Bishop Office):</b> (760) 873-2500</p>



              <br>

            </div>
        </div>
    </div>
</section>
