<section style="background-color: #fff; color: #3a3758" id="emergency">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                 <br>
                 <img src="./img/ASFRA_logo.png" alt="asfvfd" style="width:150px;height:150px;border:0px; margin: 5px"><h3><b>EMERGENCY PREPAREDNESS AND INFORMATION</b></h3>
                 <hr>
                 <h4 style="color: #d33600"><b>IN CASE OF EMERGENCY, DIAL 9-1-1</b></h4>
                 <p style="color: #d33600">Emergency dispatcher will contact the Aspendell South Fork Volunteer Fire Department.</p>
                 <p style="color: #d33600"><i>Defibrillator (AED) and oxygen available at the Aspendell fire house.</i></p>
                 <hr>
                 </div>

                 <div class="col-lg-8 col-lg-offset-2 text-left">

                 <h4><b>Sign up for CodeRED public safety alerts:</b></h4>
                 <p>CodeRED is a mobile app for location-based public safety alerts (e.g. natural disasters, fires, dangerous environmental conditions, etc.). Download the <a href="https://www.onsolve.com/solutions/products/codered/mobile-alert-app/codered-mobile-apps-download/">CodeRED Mobile Alert App</a> or <a href="https://public.coderedweb.com/CNE/en-US/DAD807D480BF">create a CodeRED account</a>.</p>

                 <br>

                 <h4><b>Information from the Inyo County Office of Emergency Services:</b></h4>
                 <ul>
                 <li><p>If you or someone in your household may need special assistance in case of an emergency ("physical, medical, mobility, or other conditions that would require special assistance during a disaster, evacuation, or other community emergency"), consider completing and returning this voluntary <a href="./info_files/emergency_registration_inyo.pdf">registration form</a>.</p></li>
                 <li><p>The Inyo County Office of Emergency Services "Emergency Operations Plan" can be seen in full <a href="./info_files/inyo_county_emergency_plan_2016.pdf">here</a>.</p></li>
                 <li><p>For earthquake safety information, with resources specific to Inyo & Mono counties, <a href="./info_files/earthquakes_inyo_mono.pdf">click here</a>.</p></li>
                 <li><p>For tips on emergency preparedness, follow these <a href="https://www.inyocounty.us/OES/dpm/disaster_prep_month.htm">Emergency Planning</a> steps.</p></li>
                 </ul>

                 <br>

                 <h4><b>Prepare for Public Safety Power Shutoffs:</b></h4>
                 <p>From <a href="https://prepareforpowerdown.com/">prepareforpowerdown.com</a>: "In order to keep communities safe, your local energy company may need to turn off power during extreme weather or wildfire conditions. This is called a Public Safety Power Shutoff." Visit the <a href="https://prepareforpowerdown.com/">site</a> to sign up for alerts from your provider, to learn about ways to prepare for power shutoffs, and for additional information.</p>

                 <br>

                 <h4><b>Follow Bishop CHP and Inyo County Sheriff's Office on social media:</b></h4>
                 <ul>
                <li><p>On Facebook, follow the <a href="https://www.facebook.com/InyoCountySheriffsOffice/">Inyo County Sheriff's Office</a> and <a href="https://www.facebook.com/CHPBishop/">Bishop CHP</a>.</p></li>
                <li><p>On twitter, follow <a href="https://twitter.com/inyosheriff">@InyoSheriff</a> and <a href="https://twitter.com/chp_bishop">@CHP_Bishop</a>.</p></li>
                </ul>

                 <br>

                 <h4><b>About the Aspendell South Fork Volunteer Fire Department:</b></h4>

<p>ASFVFD provides fire protection for the Aspendell and South Fork communities and funding is entirely from voluntary community contributions. Services are rendered without regard to the origin of the contributions received. Membership is voluntary and supporting membership fees are not a consideration for services provided. The ASFVFD service statement is posted <a href="./info_files/service-statement.pdf">here</a>. For more information (volunteers, budget, recent news, etc.) please visit the <a href="http://www.asfvfd.org/">ASFVFD website</a>.</p>
<br>

            </div>
        </div>
    </div>
</section>
