<section style="background-color: #fff; color: #3a3758" id="emergency">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                 <br>
                 <img src="./img/ASFRA_logo.png" alt="asfvfd" style="width:150px;height:150px;border:0px; margin: 5px"><h3><b>EMERGENCY PREPAREDNESS AND INFORMATION</b></h3>
                 </div>
                 </div>
                 </div>


<section style="background-color: #df6233;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h4 style="color: #fff"><b>IN CASE OF EMERGENCY, DIAL 9-1-1</b></h4>
          <!--<p style="color: #fff"><b>Emergency dispatchers will contact the Aspendell South Fork Volunteer Fire Department.</b></p>
        <p style="color: #fff"><i>Defibrillator (AED) & oxygen available at the Aspendell fire house.</i></p>-->
        </div>
        </div>
        </div>
        </section>

<section style="background-color: #fff; color: #3a3758" id="emergency">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                 <br>
                 <h4><b>Sign up for CodeRED public safety alerts:</b></h4>
                 <p>CodeRED is an emergency alert system for location-based public safety alerts (e.g. natural disasters, fires, dangerous environmental conditions, etc.). From the Inyo County Sheriff's Department: <b>"CodeRED IS THE NUMBER ONE MECHANISM FOR INFORMING YOU DURING A LOCAL EMERGENCY OR DISASTER. CodeRED is an opt-in, high-speed notification solution that quickly delivers emergency messages to targeted areas or the entire county. Because the notifications are geographically based, a street address is required to ensure emergency notification calls are received by the proper individuals in a given situation."</b> Download the <a href="https://www.onsolve.com/solutions/products/codered/mobile-alert-app/codered-mobile-apps-download/">CodeRED Mobile Alert App</a> and/or <a href="https://public.coderedweb.com/CNE/en-US/DAD807D480BF">create a CodeRED account</a>.</p>

                 <br>

                 <h4><b>Information from the Inyo County Office of Emergency Services:</b></h4>
                 <ul>
                 <li><p>If you or someone in your household may need special assistance in case of an emergency ("physical, medical, mobility, or other conditions that would require special assistance during a disaster, evacuation, or other community emergency"), consider completing and returning this voluntary <a href="./info_files/emergency_registration_inyo.pdf">registration form</a>.</p></li>
                 <li><p>The Inyo County Office of Emergency Services "Emergency Operations Plan" can be seen in full <a href="./info_files/inyo_county_emergency_plan_2016.pdf">here</a>.</p></li>
                 <li><p>For earthquake safety information, with resources specific to Inyo & Mono counties, <a href="./info_files/earthquakes_inyo_mono.pdf">click here</a>.</p></li>
                 <li><p>For tips on emergency preparedness, follow these <a href="https://www.inyocounty.us/OES/dpm/disaster_prep_month.htm">Emergency Planning</a> steps.</p></li>
                 </ul>

                 <br>

                 <h4><b>Prepare for Public Safety Power Shutoffs:</b></h4>
                 <ul>
                   <li><p>From <a href="https://prepareforpowerdown.com/">prepareforpowerdown.com</a>: "In order to keep communities safe, your local energy company may need to turn off power during extreme weather or wildfire conditions. This is called a Public Safety Power Shutoff." Visit the <a href="https://prepareforpowerdown.com/">site</a> to sign up for alerts from your provider, to learn about ways to prepare for power shutoffs, and for additional information. To receive power outage alerts from Southern California Edison, visit their <a href="https://www.sce.com/safety/wildfire/psps">PSPS site</a> or call <b>1-(800)-655-4555</b> and select "Trouble Order."</p></li>
                   <li><p>Read more about Public Safety Power Shutoffs in this <a href="https://newsroom.edison.com/internal_redirect/cms.ipressroom.com.s3.amazonaws.com/166/files/20195/PSPS%20FAQ_022519.pdf">one-page summary</a> and these <a href="https://www.sce.com/outage-center/major-outages">FAQs</a> from SCE</p></li>
                   <li><p>For information on weather-related power outages from SCE, <a href="https://www.sce.com/outage-center/major-outages">click here</a></p></li>

                   </ul>

                 <br>

                 <h4><b>Follow Bishop CHP and Inyo County Sheriff's Office on social media:</b></h4>
                 <ul>
                <li><p>On Facebook, follow the <a href="https://www.facebook.com/InyoCountySheriffsOffice/">Inyo County Sheriff's Office</a> and <a href="https://www.facebook.com/CHPBishop/">Bishop CHP</a></p></li>
                <li><p>On twitter, follow <a href="https://twitter.com/inyosheriff">@InyoSheriff</a> and <a href="https://twitter.com/chp_bishop">@CHP_Bishop</a></p></li>
                </ul>

                 <br>

                 <h4><b>General emergency preparedness information:</b></h4>
                 <ul>
                <li><p>Visit <a href="https://www.ready.gov/">ready.gov</a> for planning & response information in case of natural disasters & other emergencies</p></li>
                <li><p>To download the Inyo County/City of Bishop "Multi-jurisdictional Hazard Mitigation Plan," <a href="./info_files/Inyo_County_hazard_mitigation_plan_2017.pdf">click here</a></p></li>
                <li><p><b>Be ready!</b> Some emergency equipment to consider: Non-electric landline phone; battery-powered lights; ways to keep mediciation chilled if necessary; alternative power source for medical equipment (e.g. CPAP machine, oxygen generator); plans for garage door opening, cooking, water heating, and home heating if appliances are electric, etc.</p></li>
                </ul>

                 <br>

                 <h4><b>Aspendell South Fork Volunteer Fire Department:</b></h4>

<p>We are extremely lucky to have an active volunteer fire department in the canyon, which is supported by community donations. ASFVFD services are rendered without regard to the origin of the contributions received. Membership is voluntary and supporting membership fees are not a consideration for services provided. The ASFVFD service statement is posted <a href="./info_files/service-statement.pdf">here</a>. For more information please visit the <a href="http://www.asfvfd.org/">ASFVFD website</a>.</p>
<br>

</div>
</div>
</div>
</section>
