<div id="bannerimage"></div>

<section style="background-color: #ecedf7; color: #868494">
<div class="col-lg-8 col-lg-offset-2 text-center">
<h5><b>Aspendell Property Owners Association</b></h5>
<h5><b>117 Columbine Drive, Bishop, CA 93514</b></h5>
<h5><b>aspendellpoa@gmail.com</b></h5>
<br>

<h6>The Aspendell Property Owners Association is a federally tax-exempt organization under IRS code 501(c)(4). The APOA is <b>not</b> an IRS charitable organization, and donations to the APOA are not tax-deductible.</h6>
<br>

<h6><i>Email Allie (ahorst@ucsb.edu) with website updates, issues or corrections</i></h6>

              </div>
              </section>
