<section style="background-color: #da7945; color:white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
<p style="text-center; size=10; color:#fff">To join the community mailing list, send a message to: <b><i>aspendellpoa@gmail.com</i></b></p>
</div>
</div>
</div>
</section>



<section style="background-color: #fff; color:#3a3758" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center"><br>
              <img src="./img/events.png" alt="events" style="width:150px;height:150px;border:0px; margin: 5px">
                <h3><b>UPCOMING EVENTS</b></h3>
                <hr>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4><b>July 6th, 2019:</b> Annual APOA meeting and BBQ/fundraiser</h4>
                <ul>
                <li><p><b>10:00am:</b> APOA annual meeting at Cardinal Village Resort "Lecture Hall" (pastries/coffee at 9:45am)</p></li>
                <li><p><b>5:00pm:</b> APOA BBQ & fundraiser on Columbine Drive along the creek (look for the banner!)</p></li>
                <li><p><i>Volunteers needed for set up & raffle donations. Please contact Marilyn Bruner.</i></p></li>
                </ul>
                <br>

                <h4><b>August 3rd, 2019:</b> Aspendell/South Fork Volunteer Fire Department fundraiser</h4>
                <ul>
                <li><p><b>Where:</b> the fire house, 117 Columbine Drive, Aspendell</p></li>
                <li><p><b>Time:</b> noon until it's gone!</p></li>
                <li><p>ASFVFD 2019 benefit BBQ flyer below (click on flyer to download):<p></li>
                <a href="./info_files/asfvfd_bbq_2019.pdf">
  <img src="./info_files/asfvfd_bbq_2019.png" alt="asfvfd_bbq" style="width:300px">
</a>
                </ul>

                <br>

                <h4><b>Coming Soon:</b> Volunteer highway clean-up</h4>
                <p><i>Details will be added shortly</i></p>
                <br>
                </div>

            </div>
      </div>
</section>
<!--<img src="./img/lupins_banner.jpg" alt="lupine" style="width: 100%; border:0px; margin: 0">-->
