<section style="background-color: #43385d; color:white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
<p style="text-center; size=10; color:#b6b4ca">To join our community mailing list, please email us at: <b><i>shareinfo@aspendell.org</i></b></p>
</div>
</div>
</div>
</section>

<section style="background-color: #ededf1; color: #403f48" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center"><br>
              <img src="./img/events.png" alt="events" style="width:150px;height:150px;border:0px; margin: 5px">
                <h2><b>UPCOMING EVENTS</b></h2>
                <hr>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h3><b>July 6th, 2019:</b> Annual APOA meeting and BBQ/fundraiser</h3>
                <p><b>10:00am:</b> APOA annual meeting at Cardinal Village Resort "Lecture Hall" (pastries/coffee at 9:45am)</p>
                <p><b>5:00pm:</b> APOA BBQ & fundraiser on Columbine Drive along the creek (look for the banner!)</p>
                <p><i>Volunteers needed for set up & raffle donations. Please contact Marilyn Bruner.</i></p><br>
                <h3><b>DATE HERE:</b> Aspendell/South Fork Volunteer Fire Department fundraiser</h3>
                <p>Add times, location information here</p><br>
                <h3><b>DATE HERE:</b> Volunteer highway clean-up</h3>
                <p>Please contact Scott (email?) to join.</p>
                <br>
                </div>

            </div>
      </div>
</section>
<!--<img src="./img/lupins_banner.jpg" alt="lupine" style="width: 100%; border:0px; margin: 0">-->
