<section style="background-color: #43485d; color: white" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center"><br>
              <img src="./img/events.png" alt="events" style="width:250px;height:250px;border:0px; margin: 5px">
                <h2><b>UPCOMING EVENTS</b></h2>
                </div>
                </div>
                </div>
                </section>

<section style="background-color: #43485d; color: white" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center"><br>
                <div class="text-center">
                <h3>July 6th, 2019: Annual APOA meeting and BBQ/fundraiser</h3>
                <p>Times, location information here</p><br>
                <h3>Aspendell/South Fork Volunteer Fire Department fundraiser</h3>
                <p>Add times, location information here</p><br>
                <h3>Next volunteer road clean-up</h3>
                <br>
                </div>
                </div>
        </div>
    </div>
</section>
