<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 0 solid #ccc;
  float: left;
  width: 100px;
  background-color: transparent;
}

div.gallery:hover {
  border: 0px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
}
</style>
</head>
<body>

<section style="background-color: #fff; color: #3a3758; font-family: verdana;" id="gallery">

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/deer_aspens.jpg">
    <img src="./img/photo_gallery/deer_aspens.jpg" alt="deer" width="800" height="400">
  </a>
  <div class="desc">Neighbors</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/canyon_aspens.jpg">
    <img src="./img/photo_gallery/canyon_aspens.jpg" alt="fall-canyon" width="800" height="400">
  </a>
  <div class="desc">North fork</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/march_2017.jpg">
    <img src="./img/photo_gallery/march_2017.jpg" alt="march_2017" width="800" height="400">
  </a>
  <div class="desc">March 2017</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/march_2017_2.jpg">
    <img src="./img/photo_gallery/march_2017_2.jpg" alt="march_2017_2" width="800" height="400">
  </a>
  <div class="desc">March 2017</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/aspendell_may_2017.jpg">
    <img src="./img/photo_gallery/aspendell_may_2017.jpg" alt="may_2017" width="800" height="400">
  </a>
  <div class="desc">May 2017</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/north_lake_june_2017.jpg">
    <img src="./img/photo_gallery/north_lake_june_2017.jpg" alt="june_2017" width="800" height="400">
  </a>
  <div class="desc">June 2017</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/north_lake_rd_june_2017.jpg">
    <img src="./img/photo_gallery/north_lake_rd_june_2017.jpg" alt="june_2017" width="800" height="400">
  </a>
  <div class="desc">June 2017</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/blue_lake_trail_june_2017.jpg">
    <img src="./img/photo_gallery/blue_lake_trail_june_2017.jpg" alt="june_2017" width="800" height="400">
  </a>
  <div class="desc">June 2017</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/aspens_oct_2017.jpg">
    <img src="./img/photo_gallery/aspens_oct_2017.jpg" alt="oct_2017" width="800" height="400">
  </a>
  <div class="desc">October 2017</div>
</div>

<div class="gallery" style="background-color: #ebeaf3">
  <a target="_blank" href="./img/photo_gallery/paiute_pass_july_2017.jpg">
    <img src="./img/photo_gallery/paiute_pass_july_2017.jpg" alt="oct_2017" width="800" height="400">
  </a>
  <div class="desc">July 2017</div>
</div>


</section>
</html>
