<section style="background-color: #fff; color: #3a3758" id="gallery_header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
  <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <h3><b>ASPENDELL PHOTOS</b></h3>
              <hr>
              <p><i>If you have photos of Aspendell that we can share on the site, please send them to Allie at ahorst@ucsb.edu (include a month and year of photo if possible). Thank you!</i></p>
              </div>
        </div>
    </div>
    </div>
</section>
