<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!--{{ with .Site.Params.hero.slogan }}-->
                <h1 style="font-family: Dancing Script, cursive">Aspendell</h1>
            <!--{{ end }}-->
            {{ with .Site.Params.hero.subtitle }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</header>

