<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
</head>

<header>
    <div class="header-content">

        <div class="header-content-inner">
            <!--{{ with .Site.Params.hero.slogan }}-->
                <h1 style="font-family: Lobster; color: white">Aspendell</h1>
            <!--{{ end }}-->
            <!--{{ with .Site.Params.hero.subtitle }}-->
                <h4 style = "font-family: Muli; font-weight:500; color: white">A mountain community near Bishop, California</h4>
                <h5 style = "color: #fde6c9"><i>Website of the Aspendell Property Owners Association (APOA)</i>
                  </h5>
                <!--<p>{{ . | markdownify }}</p>-->
            <!--{{ end }}-->
        </div>
    </div>
</header>

