<section style="background-color: #43485d; color: white" id="information">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2><b>ABOUT ASPENDELL</b></h2><br>
                </div>
                <div class="text-left">
                <h3>Where is Aspendell?</h3>
                <p>Aspendell (elev. 8400') is a small unicorporated community located 17 miles west of Bishop, CA in the Eastern Sierra Nevada.' </p><br>
                <h3>Aspendell history</h3>
                <p>Some history about Aspendell</p>
            </div>
        </div>
    </div>
</section>
