<style>
    .google-maps {
        position: relative;
        padding-bottom: 70%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>

<section style="background-color: #ecedf7; color:#3a3758" id="information">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/cardinal_mine.png" alt="about" style="width:150px;height:150px; margin: 5px">
                <h3><b>ASPENDELL FREQUENTLY ASKED QUESTIONS</b></h3>
                <hr>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4><b>Where in the world is Aspendell?</b></h4>
                <p>Aspendell (elev. 8400') is a small unincorporated community located 14 miles southwest of Bishop, CA in the Eastern Sierra Nevada mountains.</p>
                <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234889.82107018866!2d-118.69932434993403!3d37.35813896298025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80be214bfe5463ed%3A0x649be85d5fc77663!2sAspendell%2C+CA+93514!5e1!3m2!1sen!2sus!4v1559771683379!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <br>

<h4><b>Who should I contact in case of an emergency in or near Aspendell?</b></h4>
                <p>In case of emergency, <i>including to contact the Aspendell South Fork Volunteer Fire Department in case of emergency</i>, <b>DIAL 9-1-1.</b> The dispatcher will contact the ASFVFD as needed. A defibrillator (AED) and supplemental oxygen are available at the Aspendell fire house.</p>
                <br>

<h4><b>What is the daily noon siren?</b></h4>
                <p>The Aspendell South Fork Volunteer Fire Department's emergency siren is tested every day at noon (12 pm).</p>
                <br>

                <h4><b>What should I do in case of a prolonged emergency siren?</b></h4>
                <p>In case of a prolonged siren (not the daily noon test)...getting response from Roy</p>
                <br>

                <h4><b>Are Aspendell roads plowed in the winter?</b></h4>
                <p>The Inyo County Road Department has <a href="https://www.inyocounty.us/snow_removal.htm">posted policies</a> for snow removal in Aspendell. The general policy states that snow removal will "occur during daylight hours only and after a minimum of three inches of snow has accumulated on the county roadway. Three inches on a deck or in a yard does not mean that there is three inches on the roadway. Snow may not build up as rapidly on the black pavement." Depending on snowfall location, access, safety, and available resources, <b>residential streets in Aspendell may not be prioritized for snow removal in some cases.</b></p>
                <br>

                <h4><b>If my driveway is snowed-in, can I park on Aspendell roads during the winter?</b></h4>
                <p>No. Keep vehicles, equipment and landscaping feature off the streets during snow removal months (generally November through April or May).</p>
                <br>

                <h4><b>How do I get an Aspendell mailbox?</b></h4>
                <p>Mailboxes are associated with <b><i>parcels</i></b>, not property owners, and cannot be transferred once assigned. There are no remaining available mailboxes.</p>
                <br>

                <h4><b>How do I get a dumpster?</b></h4>
                <p>Contact <a href="https://www.bishopwaste.com/">Bishop Waste</a> for dumpster delivery/pick-up and waste services.</p>
                <br>

                <h4><b>What's the deal with all the summer moths?</b></h4>
                <p>Miller moths pass through Aspendell in summer months (June/July), with numbers and duration depending on environmental conditions. Links for more information are provided below:</p>
                 <ul>
                <li><p>Cabin moths information from Colorado State University: <a href="./info_files/cabin-moth.pdf">"Moths in the Home"</a></p></li>
                <li><p>Miller moths facts from CSU Extension: <a href="./info_files/miller.pdf">"Miller moths"</a></p></li>
                <li><p><a href="./info_files/miller.pdf">Questions and answers about miller moths</a> by Whitney Cranshaw and Frank Peairs</p></li>
                </ul>
                <br>

              <h4><b>Where can I fish in Bishop Creek Canyon, and what are the regulations?</b></h4>
              <p>Fishing season in Bishop Creek Canyon starts...A California fishing license is required for all fisherpeople age 16 years or older, and can be purchased in Aspendell at Cardinal Village Resort or...More information about fishing in the area is provided below:</p>
                <ul>
                  <li><p><a href="https://www.fs.usda.gov/activity/inyo/recreation/fishing">USDA Forest Service - Inyo County fishing</a></p></li>
                  <li><p><a href="https://www.dfg.ca.gov/m/fishplantings/SelectWater?county=inyo">Inyo County fish planting schedule</a> from CA Department of Fish & Wildlife</p></li>
                 <li><p><a href="http://www.davessierrafishing.com/countyfishing/inyoco.html">Dave's Sierra Fishing</a> website</p></li>
                  <li><p><a href="https://www.bishopvisitor.com/activities/fishing/">Fish Bishop Year-Round!</a> from the Bishop Visitor Center</p></li>

                </ul>
                <br>

<h4><b>Why am I a baking failure up here?</b></h4>
<p>Due to lower atmospheric pressure at higher altitude, water boils at a lower temperature and evaporation increases. This causes leavening agents (baking powder, yeast, etc.) to expand too quickly, which makes baked goods rapidly rise, then collapse. If your cakes and cookies look deflated, see below for some high-altitude baking recipes and tips:</p>
                <ul>
                <li><p>Recipes and tips for high-altitude cooking from <a href="https://www.thespruceeats.com/search?q=high+altitude">The Spruce Eats</a></p></li>
                <li><p>High altitude tips from <a href="https://www.bettycrocker.com/how-to/tipslibrary/baking-tips/baking-cooking-high-altitudes">Betty Crocker</a></p></li>
                <li><p>High altitude cooking and baking by <a href="https://mountainmamacooks.com/high-altitude/">Mountain Mama Cooks</a></p></li>
                <li><p>High altitude baking tips from <a href="https://www.cooksillustrated.com/how_tos/5889-high-altitude-baking">Cook's Illustrated</a></p></li>
                </ul>
                <br>

                <h4><b>Where can I camp in Bishop Creek Canyon?</b></h4>
                <p>Camping is allowed in designated sites in Bishop Creek Canyon. Luckily, there are many! See the link below for more information:</p>
                <ul>
                 <li><p><a href="https://www.bishopvisitor.com/ins-outs-camping-bishop-creek-canyon/">All the Ins and Outs of Bishop Creek Camping</a> from the Bishop Visitor Center</p></li>
                </ul>

                <br>

            </div>
        </div>
    </div>
</section>
