<section style="background-color: #6e6e7e; color: white" id="information">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/north_lake.png" alt="about" style="width:150px;height:150px;border:0px; margin: 5px">
                <h2><b>ABOUT ASPENDELL</b></h2>
                <hr>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-left">
                <h3><b>Where is Aspendell?</b></h3>
                <p>Aspendell (elev. 8400') is a small unincorporated community located 17 miles west of Bishop, CA in the Eastern Sierra Nevada.</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12705.626434582138!2d-118.60627622691447!3d37.23805917618768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80be214bfe5463ed%3A0x649be85d5fc77663!2sAspendell%2C+CA+93514!5e0!3m2!1sen!2sus!4v1559507352708!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <br>
                <h3><b>Aspendell history (in progress)...</b></h3>
                <p>Click on the image below to see the entire article on the Wilshire Mine in Aspendell (November 19, 1914):</p>
                 <a href="./info_files/wilshire_mine.pdf">
  <img src="./img/wilshire_mine.png" alt="wilshire mine" style="width:300px;border:0;">
</a>
<br>
<br>

            </div>
        </div>
    </div>
</section>
