<!-- Moved all into the #news tab-->

<!--<section style="background-color: #fff; color: #3a3758" id="localtips">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/fish.png" alt="tips" style="width:150px;height:150px;border:0px; margin: 5px">
                <h3><b>AREA BUSINESSES</b></h3>
                <hr>
                </div>

              <div class="col-lg-8 col-lg-offset-2 text-left">

  <h4><b>In / Near Aspendell:</b></h4>
                <ul>
                  <li><p><a href="https://www.cardinalvillageresort.com/">Cardinal Village Resort: </a> cafe & general store, cabins for rent, gifts, souvenirs, fishing licenses</p></li>
                  <li><p><a href="https://www.lakesabrinaboatlanding.com/">Lake Sabrina Boat Landing and Cafe: </a>cafe, snacks, merchandise, kayak rentals</p></li>
                  <li><p><a href="http://www.bishoppackoutfitters.net/">Bishop Pack Outfitters: </a>horseback trail rides, photography trips, camping, hiking, fly fishing trips</p></li>
                  </ul>
                  <br>

<h4><b>South Fork Bishop Creek Canyon:</b></h4>
<ul>
                 <li><p><a href="https://www.parchersresort.net/">Parcher's Resort:</a> cabin rentals, general store, cafe</p></li>
                <li><p><a href="https://www.bishopcreekresort.com/">Bishop Creek Lodge:</a> cabin rentals, restaurant, bar, snacks</p></li>
                <li><p><a href="https://www.rainbowpackoutfitters.com/">Rainbow Pack Outfitters:</a> trail rides, fishing trips, pack trips</p></li>
                </ul>
                <br>


            </div>
        </div>
    </div>
</section>-->
