<section style="background-color: #373644; color: white" id="localtips">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/fish.png" alt="tips" style="width:150px;height:150px;border:0px; margin: 5px">
                <h2><b>USEFUL INFORMATION</b></h2>
                <hr>
                </div>
                <div class="text-left">

                <h3><b>High altitude cooking</b></h3>
                <ul>
                <li><p>Recipes and tips for high-altitude cooking from <a href="https://www.thespruceeats.com/search?q=high+altitude">The Spruce Eats</a></p></li>
                <li><p>High altitude tips from <a href="https://www.bettycrocker.com/how-to/tipslibrary/baking-tips/baking-cooking-high-altitudes">Betty Crocker</a></p></li>
                <li><p>High altitude cooking and baking by <a href="https://mountainmamacooks.com/high-altitude/">Mountain Mama Cooks</a></p></li>
                <li><p>High altitude baking tips from <a href="https://www.cooksillustrated.com/how_tos/5889-high-altitude-baking">Cook's Illustrated</a></p></li>


                </ul>
                <br>

                <h3><b>What's the deal with all these moths?</b></h3>
                <ul>
                <li><p>Cabin moths information from Colorado State University: <a href="./info_files/cabin-moth.pdf">"Moths in the Home"</a></p></li>
                <li><p>Miller moths facts from CSU Extension: <a href="./info_files/miller.pdf">"Miller moths"</a></p></li>
                <li><p><a href="./info_files/miller.pdf">Questions and answers about miller moths</a> by Whitney Cranshaw and Frank Peairs</p></li>
                </ul>
                <br>

                <h3><b>Lodging near Aspendell</b></h3>
                <ul>
                 <li><p><a href="https://www.parchersresort.net/">Parcher's Resort</a> (South Fork Bishop Creek)</p></li>
                <li><p><a href="https://www.bishopcreekresort.com/">Bishop Creek Lodge</a> (South Fork Bishop Creek)</p></li>
                <li><p><a href="https://www.cardinalvillageresort.com/">Cardinal Village Resort</a> (Aspendell)</p></li>
                </ul>
                <br>

                <h3><b>Camping in Bishop Creek Canyon</b></h3>
                <ul>
                 <li><p><a href="https://www.bishopvisitor.com/ins-outs-camping-bishop-creek-canyon/">All the Ins and Outs of Bishop Creek Camping</a> from the Bishop Visitor Center</p></li>
                </ul>
                <br>

                <h3><b>Inyo County fishing information</b></h3>
                <ul>
                  <li><p><a href="https://www.fs.usda.gov/activity/inyo/recreation/fishing">USDA Forest Service - Inyo County fishing</a></p></li>
                  <li><p><a href="https://www.dfg.ca.gov/m/fishplantings/SelectWater?county=inyo">Inyo County fish planting schedule</a> from CA Department of Fish & Wildlife</p></li>
                 <li><p><a href="http://www.davessierrafishing.com/countyfishing/inyoco.html">Dave's Sierra Fishing</a> website</p></li>
                  <li><p><a href="https://www.bishopvisitor.com/activities/fishing/">Fish Bishop Year-Round!</a> from the Bishop Visitor Center</p></li>

                </ul>
                <br>

            </div>
        </div>
    </div>
</section>
