<section style="background-color: #e88455; color:white" id="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
<p style="text-center; size=10; color:#fff">To join the community mailing list, send an email to: <b><i>aspendellpoa@gmail.com</i></b></p>
</div>
</div>
</div>
</section>

<section style="background-color: #ebeaf3; color: #3a3758"> <!--*fa9639*/-->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <br>
            <img src="./img/aspendell_sign.png" alt="tips" style="width:160px;height:160px;border:0px; margin: 5px">
<h3><b>COMMUNITY NEWS</b></h3>
      <hr>
      </div>

<div class="col-lg-8 col-lg-offset-2 text-left">
  <ul>
    <li><p><b>Date:</b> headline/link for new well news?<p></li>
    <li><p><b>Date:</b> headline/link for fire clearance news?<p></li>
  </ul>
</div>

</div>
</div>
</section>
