<section style="background-color: #ecedf7; color: #3a3758" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <img src="./img/aspendell_sign.png" alt="conditions" style="width:150px;height:150px;border:0px; margin: 5px">
              <h3><b>COMMUNITY EVENTS & RECENT NEWS</b></h3>
              <hr>
              </div>

<!--<div class="col-lg-8 col-lg-offset-2 text-left">
  <h4 style="color: #dc7536"><b>RECENT NEWS</b></h4>
  <ul>
    <li><p><b>Date:</b> headline/link for new well news?<p></li>
    <li><p><b>Date:</b> headline/link for fire clearance news?<p></li>
  </ul>
  <br>
</div>-->

<div class="col-lg-8 col-lg-offset-2 text-left" id="events">
  <h4 style="color: #d65602"><b>UPCOMING COMMUNITY EVENTS</b></h4>
                <h4><b>July 6th, 2019: Annual APOA meeting and potluck picnic/fundraiser</b></h4>
                <ul>
                <li><p><b>9:00am:</b> Aspendell South Fork Water District meeting, Cardinal Village Resort "Lecture Hall"</p></li>
                <li><p><b>10:00am:</b> APOA annual meeting, Cardinal Village Resort "Lecture Hall"</p></li>
                <li><p><b>5:00pm:</b> APOA potluck picnic & fundraiser at <b>181 Columbine Drive</b> along the creek (look for the banner). Bring your own beverages and chairs, and a dish to share. Ice, plates, and utensils will be provided. If you have guests for the weekend, please bring them along (if you're bringing a large group, please consider bringing an extra dish). Remember to bring cash for the raffle and to purchase awesome Aspendell swag (t-shirts, sweatshirts, mugs, etc.). We'll see you there!</p></li>
                </ul>

                <h4><b>August 3rd, 2019: Aspendell South Fork Volunteer Fire Department fundraiser</b></h4>
                <ul>
                <li><p><b>Where:</b> The fire house, 117 Columbine Drive, Aspendell</p></li>
                <li><p><b>Time:</b> NOON until it's gone!</p></li>
                <li><p>Click on the BBQ flyer below to download:<p></li>
                <a href="./info_files/asfvfd_bbq_2019.pdf">
  <img src="./info_files/asfvfd_bbq_2019.png" alt="asfvfd_bbq" style="width:200px">
</a>
                </ul>

                <h4><b>Coming Soon:</b> Adopt-a-Highway (CalTrans sponsored)</h4>
                <p><i>Details upcoming</i></p>
                </div>

<div class="col-lg-8 col-lg-offset-2 text-left" id="recent_news">
  <br>
  <h4 style="color: #d65602"><b>RECENT COMMUNITY NEWS</b></h4>
                <ul>
  <li><p><b>6/30/2019 - Moth update:</b> Very few moths this year! So far residents are reporting just a few each night, and populations seem to be waning.</p></li>
  <li><p><b>6/26/2019 - Sandbags:</b> With high Bishop Creek levels, and more runoff expected, creekside cabin owners may want sandbags for property protection. The APOA is currently in communication with the Inyo County Office of Emergeny Services to have sand delivered. More information coming soon.</p></li>
  <li><p><b>6/25/2019 - Fuels reduction program:</b> The current program the current USFS program is the Fuels Reduction Project. A Forest Service contractor will be removing trees and brush from forest service land in the Aspendell area during summer 2019 and perhaps next year depending on the progress.</p></li>
  <li><p><b>6/25/2019 - New well and water line update:</b> Coming soon.</p></li>
  </ul>
</div>
</div>
</div>
                </section>

