<section style="background-color: #ecedf7; color: #3a3758" id="news"> <!--*fa9639*/-->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <br>
            <img src="./img/aspendell_sign.png" alt="tips" style="width:160px;height:160px;border:0px; margin: 5px">
<h3><b>UPCOMING COMMUNITY EVENTS</b></h3>
      <hr>
      </div>


<!--<div class="col-lg-8 col-lg-offset-2 text-left">
  <h4 style="color: #dc7536"><b>RECENT NEWS</b></h4>
  <ul>
    <li><p><b>Date:</b> headline/link for new well news?<p></li>
    <li><p><b>Date:</b> headline/link for fire clearance news?<p></li>
  </ul>
  <br>
</div>-->

<div class="col-lg-8 col-lg-offset-2 text-left">
                <h4><b>July 6th, 2019:</b> Annual APOA meeting and BBQ/fundraiser</h4>
                <ul>
                <li><p><b>9:00am:</b> Aspendell South Fork Water District meeting, Cardinal Village Resort "Lecture Hall"
                <li><p><b>10:00am:</b> APOA annual meeting, Cardinal Village Resort "Lecture Hall"</p></li>
                <li><p><b>5:00pm:</b> APOA BBQ & fundraiser on Columbine Drive along the creek (look for the banner!)</p></li>
                <li><p><i>Volunteers needed for set up & raffle donations. Please contact Marilyn Bruner.</i></p></li>
                </ul>
                <br>

                <h4><b>August 3rd, 2019:</b> Aspendell South Fork Volunteer Fire Department fundraiser</h4>
                <ul>
                <li><p><b>Where:</b> The fire house, 117 Columbine Drive, Aspendell</p></li>
                <li><p><b>Time:</b> NOON until it's gone!</p></li>
                <li><p>Click on the BBQ flyer below to download:<p></li>
                <a href="./info_files/asfvfd_bbq_2019.pdf">
  <img src="./info_files/asfvfd_bbq_2019.png" alt="asfvfd_bbq" style="width:200px">
</a>
                </ul>

                <br>

                <h4><b>Coming Soon:</b> Adopt-a-Highway (CalTrans sponsored)</h4>
                <p><i>Details upcoming</i></p>
                <br>
                </div>

</div>
</div>
</section>
