<section style="background-color: #2a273f;" id="quicklinks">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h4 style="color: white"><b>Aspendell Property Owners Association (APOA) Website</b></h4>
        <p style="color: #f48d00">IN CASE OF EMERGENCY (INCLUDING TO REACH ASFVFD IN EMERGENCIES), <b>DIAL 9-1-1</b></p>
        <!--<p style="color: #e86b34"><i>Defibrillator (AED) & oxygen available at the Aspendell fire house.</i></p>-->
        </div>
        </div>
        </div>
        </section>

<section style="background-color: #707495; color: #fff" id="quicklinks">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-left">
        <h4><b>Important information, updates, and quick links:</b></h4>
        <ul>
          <li><p>The annual APOA meeting and potluck is on <b>Saturday, July 6th, 2019</b>! Click <a href="#news">here</a> for more details.</p></li>
          <li><p>For current weather and road conditions, <a href="#conditions"> click here</a>.</p></li>
          <li><p>To join the community mailing list, send an email to: <b><i>aspendellpoa@gmail.com</i></b></p></li>
</ul>
</div>
</div>
</div>
</section>
