<section style="background-color: #e88455; color:white" id="quicklinks">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
<p style="text-center; size=10; color:#fff">To join the community mailing list, send an email to: <b><i>aspendellpoa@gmail.com</i></b></p>
</div>
</div>
</div>
</section>
