<section style="background-color: #ea6d48;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h4 style="color: #fff"><b>IN CASE OF EMERGENCY, DIAL 9-1-1</b></h4>
        </div>
        </div>
        </div>
        </section>

        <!--<section style="background-color: #e87d48;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <p style="color: #fff">9-1-1 emergency dispatchers will contact appropriate responders, including the Aspendell South Fork Volunteer Fire Department.</p>
        <h5 style="color: #fff">Defibrillator (AED) & oxygen available at the Aspendell fire house.</h5>
        </div>
        </div>
        </div>
        </section>-->

<section class="col-lg-8 col-lg-offset-2 text-center" id = "quicklinks">
              <br>
              <h3 style="color:  #4e4b62"><b>AT-A-GLANCE COMMUNITY UPDATES & QUICK LINKS</b></h3>
              <hr>
              </section>


<section style="background-color: #fff; color: #343158">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-left">
        <ul>
          <li><p><b>Saturday, August 3rd, 2019:</b> Come out to support the Aspendell South Fork Volunteer Fire Department at the annual BBQ & fundraiser! <a href="#news"><b>Click here</b></a> for more information.</p></li>
          <li><p><b>Saturday, August 24th, 2019: </b>Highway 168 Volunteer Clean-Up (Adopt-a-Highway, sponsored by CalTrans). <a href="#news"><b>Click here</b></a> for more information (meeting place, time, etc.).</p></li>
          <li><p><a href="#conditions">Current road & weather conditions</a></p></li>
          <li><p><a href="#emergency">Aspendell emergency preparedness information and resources</a></p></li>
          <li><p><a href="#news">Upcoming community events and recent news</a></p></li>
          <li><p><a href="#information">Aspendell FAQs</a></p></li>
          <br>
</ul>
</div>
</div>
</div>
</section>
